<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <pipelines>
            <!-- This pipeline starts when a new message appears in the Azure Service Bus. -->
            <cmp.importEntity>
                <!-- Saves the field values. -->
                <processor patch:instead="*[@type='Sitecore.Connector.CMP.Pipelines.ImportEntity.SaveFieldValues, Sitecore.Connector.CMP']" type="ExtendCmpConnector.Pipelines.ImportEntity.SaveFieldValues, ExtendCmpConnector" resolve="true"/>
            </cmp.importEntity>
        </pipelines>
    </sitecore>
</configuration>